@import "tailwindcss";

@theme {
  --color-brand-black: #000000;
  --color-brand-white: #ffffff;
}

@utility text-outline-white {
  -webkit-text-stroke: 1px white;
}

@utility text-outline-black {
  -webkit-text-stroke: 1px black;
}

html {
  scroll-behavior: smooth;
}

/* Custom Premium Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border: 3px solid #000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.dark {
  color-scheme: dark;
}